.main-page{
  background-image:url("world.png");
  background-attachment: local;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;

}
h1{
  text-align: center;
  font-family:'Oswald', sans-serif;
}
.mainCont{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  position: relative;

}
.card{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px;

  background-color: rgba(0,0,255,8%);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: 2s ease;
}
.card:hover{
  transform: rotateY(180deg);
}
.front, .back{
  position: absolute;

  /*background-color: rgb(255,255,255);*/
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*line-height: 130px;*/
  backface-visibility: hidden;
  border: 1px solid red;
  border-radius: 10px;
}
.front{
  background-color: #538b22;
}
.back{
  transform: rotateY(180deg);
  background-color: #228b82;
}
/*.front{*/
/*    z-index: 2;*/
/*}*/
/*.back{*/
/*    z-index: 1;*/
/*}*/
.mainCont{
  perspective: 1000px;
}
p{
  font-family:'Oswald', sans-serif;
  font-size: 35px;
  text-align: center;
}